CST 407 Web Services with .NET/PractiseWebService/AddClient/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
			 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			 xmlns:s="http://www.w3.org/2001/XMLSchema"
			 xmlns:s0="http://ShippingService.org/"
			 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
			 xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
			 xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
			 targetNamespace="http://ShippingService.org/"
			 xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified"
    targetNamespace="http://ShippingService.org/">
      <s:element name="add" type="s0:Add" />
      <s:complexType name="Add">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="one" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="two" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddResult" type="s0:AddResponse" />
      <s:complexType name="AddResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </types>
  <message name="AddSoapIn">
    <part name="add" element="s0:add" />
  </message>
  <message name="AddSoapOut">
    <part name="AddResult" element="s0:AddResult" />
  </message>
  <portType name="Service1Soap">
    <operation name="Add">
      <input message="s0:AddSoapIn" />
      <output message="s0:AddSoapOut" />
    </operation>
  </portType>
  <binding name="Service1Soap" type="s0:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="Add">
      <soap:operation soapAction="http://ShippingService.org/Add" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Service1">
    <port name="Service1Soap" binding="s0:Service1Soap">
      <soap:address location="http://localhost/PractiseWebService/Service1.asmx" />
    </port>
  </service>
</definitions>