CST ASP.NET @ PCC for MDAC/ASP.NET Solution Folder/Allfiles/Democode/Mod06VB/CallClassVB/Web References/shippingWebRef/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ComputeShipping">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sngPrice" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ComputeShippingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ComputeShippingResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="float" type="s:float" />
    </s:schema>
  </types>
  <message name="ComputeShippingSoapIn">
    <part name="parameters" element="s0:ComputeShipping" />
  </message>
  <message name="ComputeShippingSoapOut">
    <part name="parameters" element="s0:ComputeShippingResponse" />
  </message>
  <message name="ComputeShippingHttpGetIn">
    <part name="sngPrice" type="s:string" />
  </message>
  <message name="ComputeShippingHttpGetOut">
    <part name="Body" element="s0:float" />
  </message>
  <message name="ComputeShippingHttpPostIn">
    <part name="sngPrice" type="s:string" />
  </message>
  <message name="ComputeShippingHttpPostOut">
    <part name="Body" element="s0:float" />
  </message>
  <portType name="Service1Soap">
    <operation name="ComputeShipping">
      <input message="s0:ComputeShippingSoapIn" />
      <output message="s0:ComputeShippingSoapOut" />
    </operation>
  </portType>
  <portType name="Service1HttpGet">
    <operation name="ComputeShipping">
      <input message="s0:ComputeShippingHttpGetIn" />
      <output message="s0:ComputeShippingHttpGetOut" />
    </operation>
  </portType>
  <portType name="Service1HttpPost">
    <operation name="ComputeShipping">
      <input message="s0:ComputeShippingHttpPostIn" />
      <output message="s0:ComputeShippingHttpPostOut" />
    </operation>
  </portType>
  <binding name="Service1Soap" type="s0:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="ComputeShipping">
      <soap:operation soapAction="http://tempuri.org/ComputeShipping" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="Service1HttpGet" type="s0:Service1HttpGet">
    <http:binding verb="GET" />
    <operation name="ComputeShipping">
      <http:operation location="/ComputeShipping" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="Service1HttpPost" type="s0:Service1HttpPost">
    <http:binding verb="POST" />
    <operation name="ComputeShipping">
      <http:operation location="/ComputeShipping" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="Service1">
    <port name="Service1Soap" binding="s0:Service1Soap">
      <soap:address location="http://localhost/ShippingVB/Service1.asmx" />
    </port>
    <port name="Service1HttpGet" binding="s0:Service1HttpGet">
      <http:address location="http://localhost/ShippingVB/Service1.asmx" />
    </port>
    <port name="Service1HttpPost" binding="s0:Service1HttpPost">
      <http:address location="http://localhost/ShippingVB/Service1.asmx" />
    </port>
  </service>
</definitions>