CST 407 Web Services with .NET/Home Work #2/MyShippingService.wsdl

<?xml version="1.0" ?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:s="http://www.w3.org/2001/XMLSchema"
				  targetNamespace="http://ShippingService.org/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ShippingService.org/">
      <s:element name="CalculateShippingCost">
        <s:element minOccurs="1" maxOccurs="1" name="OrigZipCode" type="s:string" />
        <s:element minOccurs="1" maxOccurs="1" name="DestZipCode" type="s:string" />
        <s:element minOccurs="1" maxOccurs="1" name="ShippingWeight" type="s:double" />
      </s:element>
      <s:element name="CalculateShippingCostResponse">
        <s:element minOccurs="1" maxOccurs="1" name="CalculateShippingCostResult" type="s:double" />
      </s:element>
      <s:element name="GetTrackingNumber">
            <s:element minOccurs="1" maxOccurs="1" name="Destination" type="Address" />
      </s:element>
      <s:complexType name="Address">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StreetAddress" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Zip" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTrackingNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetTrackingNumberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CalculateShippingCostSoapIn">
    <wsdl:part name="parameters" element="CalculateShippingCost" />
  </wsdl:message>
  <wsdl:message name="CalculateShippingCostSoapOut">
    <wsdl:part name="parameters" element="CalculateShippingCostResponse" />
  </wsdl:message>
  <wsdl:message name="GetTrackingNumberSoapIn">
    <wsdl:part name="parameters" element="GetTrackingNumber" />
  </wsdl:message>
  <wsdl:message name="GetTrackingNumberSoapOut">
    <wsdl:part name="parameters" element="GetTrackingNumberResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="CalculateShippingCost">
      <wsdl:input message="CalculateShippingCostSoapIn" />
      <wsdl:output message="CalculateShippingCostSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTrackingNumber">
      <wsdl:input message="GetTrackingNumberSoapIn" />
      <wsdl:output message="GetTrackingNumberSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ShippingServiceSoap" type="ShippingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="CalculateShippingCost">
      <soap:operation soapAction="http://ShippingService.org/CalculateShippingCost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrackingNumber">
      <soap:operation soapAction="http://ShippingService.org/GetTrackingNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShippingService">
    <wsdl:port name="ShippingServiceSoap" binding="ShippingServiceSoap">
      <soap:address location="http://ShippingService.org/ShippingService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>