CST 407 Web Services with .NET/Home Work #4/nw.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    targetNamespace="http://www.northwind.com/Catalog"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:s="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
    xmlns:tns="http://www.northwind.com/Catalog"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <s:schema
            elementFormDefault="qualified"
            targetNamespace="http://www.northwind.com/Catalog">
            <s:element name="GetCategories">
                <s:complexType/>
            </s:element>
            <s:element name="GetCategoriesResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element
                            maxOccurs="1"
                            minOccurs="0"
                            name="GetCategoriesResult"
                            type="tns:ArrayOfString"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ArrayOfString">
                <s:sequence>
                    <s:element
                        maxOccurs="unbounded"
                        minOccurs="0"
                        name="string"
                        nillable="true"
                        type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:element name="GetProductsForCategory">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="category" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetProductsForCategoryResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element
                            maxOccurs="1"
                            minOccurs="0"
                            name="GetProductsForCategoryResult"
                            type="tns:ArrayOfProduct"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ArrayOfProduct">
                <s:sequence>
                    <s:element
                        maxOccurs="unbounded"
                        minOccurs="0"
                        name="Product"
                        nillable="true"
                        type="tns:Product"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="Product">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="1" name="id" type="s:int"/>
                    <s:element maxOccurs="1" minOccurs="0" name="name" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="1" name="price" type="s:decimal"/>
                </s:sequence>
            </s:complexType>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="GetCategoriesOut">
        <wsdl:part element="tns:GetCategoriesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="GetCategoriesIn">
        <wsdl:part element="tns:GetCategories" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="GetProductsForCategoryIn">
        <wsdl:part element="tns:GetProductsForCategory" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="GetProductsForCategoryOut">
        <wsdl:part element="tns:GetProductsForCategoryResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="MainSoap">
        <wsdl:operation name="GetCategories">
            <wsdl:input message="tns:GetCategoriesIn"/>
            <wsdl:output message="tns:GetCategoriesOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetProductsForCategory">
            <wsdl:input message="tns:GetProductsForCategoryIn"/>
            <wsdl:output message="tns:GetProductsForCategoryOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MainSoap" type="tns:MainSoap">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetCategories">
            <soap:operation
                soapAction="http://www.northwind.com/Catalog/GetCategories"
                style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetProductsForCategory">
            <soap:operation
                soapAction="http://www.northwind.com/Catalog/GetProductsForCategory"
                style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Main">
        <wsdl:port binding="tns:MainSoap" name="MainSoap">
            <soap:address
                location="http://www.cauldwell.net/patrick/work/Northwind/main.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>