CST 407 Java J2EE/examples/chapters/DeitelBookstore/clients.dtd

<!-- clients.dtd                               -->
<!-- DTD for specifying Bookstore client types -->

<!ELEMENT clients ( client+ )>

<!ELEMENT client ( userAgent, contentType, XSLPath )>
<!ATTLIST client name CDATA #REQUIRED>

<!ELEMENT userAgent ( #PCDATA )>
<!ELEMENT contentType ( #PCDATA )>
<!ELEMENT XSLPath ( #PCDATA )>
